<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <h1 class="navbar-brand">nilbbs</h1>
    </div>
  </nav>

  <div class="container">
    <div class="quick-post-form">
      <div id="error-message" class="error-message message"></div>
      <div class="post-input-container">
        <textarea id="quick-post-content" class="form-control content-input" rows="2"
          placeholder="Write your post here.."></textarea>
      </div>
    </div>

    <ul id="post-list" class="post-list">
      <li class="post-item">Loading...</li>
    </ul>
  </div>

  <script src="/static/js/app.js"></script>
</body>

</html>